.banner {
  height: 350px;
  background: url('https://images7.alphacoders.com/314/thumb-1920-314110.jpg') no-repeat fixed center;
  opacity: 0.3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
  z-index: 1 !important;
  opacity: 1 !important;
}
