.navbar-wagon
  / Left Navigation
  %a.navbar-wagon-brand{href: "/"}
    %i.fas.fa-envelope.fa-lg
    %i.fas.fa-phone.fa-lg
    %span.phone 05 35 54 48 48
  / Right Navigation
  .navbar-wagon-right.hidden-xs.hidden-sm
    = link_to "Je cherche", "#", class: "navbar-wagon-item navbar-wagon-link"
    = link_to "Je vends", "#", class: "navbar-wagon-item navbar-wagon-link"
    = link_to "Je m'informe", "#", class: "navbar-wagon-item navbar-wagon-link"
    = link_to "Mon compte", "#", class: "navbar-wagon-item navbar-wagon-link"
